.showcase_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.showcase_button {
    position: absolute;
    border-radius: 20px;
    margin-bottom: 50vh;
}


.serverResponse {
    font-size: 25px !important;

    margin-bottom: 15vh;

}