:root.md {
    --ion-background-color: #020202;


    ion-tab-bar {
        background: transparent;
        margin-bottom: 5vh;
    }

    ion-tab-bar ion-tab-button {
        border-radius: 20px;
    }

    .not_important_tab {
        margin: 60px;
    }
}


ion-tab-button {
    background: black;
}

ion-toolbar {
    --background: #1D4247;
}