.level_all_container {
    justify-content: center;
    align-items: center;
    display: flex;


    flex-direction: column;
    margin-top: 5vh;
}


.level_container {
    border: 20px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px 20px;
}

.not_finish {
    opacity: 0.4;
}

.level_container_image {
    width: 160px;
    height: 160px;


    border: 0.5rem solid rgb(255, 255, 255);
    border-radius: 50%;

}

.img_effect {
    outline: 0.5rem solid khaki;
}