.discusions_contaner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;

}

.avatar_img_container {
    display: flex;
    margin-left: 5vh;
    margin: 10px;
}

.avatar_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.dialog {
    margin: 30px;
    width: 500px;
    height: 70px;

    display: flex;


}

.dialog_container {
    background-color: aliceblue;
    color: black;
    border-radius: 20px;


    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;


}

.dialog_avatar_name {
    text-decoration: underline rgb(17, 0, 255);
    text-underline-offset: 1px;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_button {
    color: black;
    background-color: rgb(19, 191, 235) !important;


    width: 200px;
    height: 50px;


    border-radius: 20px;
}

.start_button {
    color: black;
    background-color: rgb(236, 215, 215);
    box-shadow: 0px 10px rgba(236, 215, 215, 0.8);
    width: 200px;
    height: 50px;


    border-radius: 20px;

}

.question_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}